-# requires book
- @book = book
.book.accordion-group
  .accordion-heading
    %h2
      %a.accordion-toggle{ 'data-toggle' => 'collapse', 'data-parent' => '#books-accordion', href: "#book_#{ @book.id }" }
        %i.icon-caret-right
        %i.icon-caret-down
        %i.icon-book
        = @book.title.truncate(24, omission: '...')

  %div.accordion-body.collapse.in{ id: "book_#{ @book.id }" }
    .accordion-inner
      = render 'books/form'
