%footer#footer
  .container
    .row
      .span2.offset10
        %a.btn.btn-link.btn-block.custom-btn-icon.custom-btn-icon-inverse{ href: 'https://github.com/gonzalo-bulnes/ex-libris', title: "Including the image credits", title: "Credits (including the image credits)" }
          %i.icon-github
