.thumbnail{ href: '#' }
  %img( alt="130x130" data-src="holder.js/130x130" style="width: 130px; height: 130px;" src="http://placehold.it/130x130" )
  .caption
    %p
      %i.icon-map-marker
      Estante
      %strong
        = record[:location]
        %i.icon-eye-open
