%a.thumbnail{ href: record_path(record) }
  = image_tag record.picture.url(:thumb)
  .caption
    %p
      %i.icon-map-marker
      Estante
      %strong
        = record[:location]
        %i.icon-eye-open
