.thumbnails
  - if @records.presence
    - @records.each do |record|
      = render 'records/thumbnail', record: record
  - else
    .placeholder
      %i.icon-picture
      %p
        There are no records yet,
        = link_to("create a record now", '#') + '!'
