#home
  .hero-unit.custom-hero-unit
    .container
      .row
        .span6.offset6
          .custom-hero-unit-inner

            %h1 Fase de inventario
            .btn-group
              %a.btn{ href: '/auth/open_id?openid_url=https://www.google.com/accounts/o8/id' } Iniciar sesión con Google
              %a.btn{ href: '/auth/open_id?openid_url=https://www.yahoo.com' } o con Yahoo!
