.books
  - if @books.presence
    %h1
      %i.icon-picture
      = t('helpers.book.title.index')
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th= t('simple_form.labels.book.title')
      %tbody
        - @books.each do |book|
          = render 'books/table_row', book: book
  - else
    .placeholder
      %i.icon-book
      %h1 Ningún libro ha sido inventariado.
      %p
        Puedes empezar el inventario ahora
        = link_to("con el registro que quieras", records_path, title: 'Ingresa libros ahora') + '.'
