development:
  adapter: postgresql
  encoding: unicode
  database: translator_notebook_development
  pool: 5
  username: translator_notebook
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: translator_notebook_test
  pool: 5
  username: translator_notebook
  password:

# production not necessary to deploy to Heroku
