development:
  adapter: postgresql
  encoding: unicode
  database: ex_libris_development
  pool: 5
  username: ex_libris
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: ex_libris_test
  pool: 5
  username: ex_libris
  password:

# production not necessary to deploy to Heroku
