/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";
 @import "bootstrap-responsive";
 @import "font-awesome";

// Mixins ////

@mixin ex-libris-background {
  // image size: 248x349
  background-image: image-url("ex-libris.png");
  background-position: top left;
  background-repeat: no-repeat;
}

@mixin retina-wood {
  background-image: image-url("retina_wood/retina_wood.png");
  background-position: bottom left;
  background-repeat: repeat;
  background-color: inherit;
}

// Hotfixes ////

// Fix Bootstrap .btn anchor color
a.btn {
  &:visited {
    color: $grayDark;
  }
  i {
    margin-bottom: -3px;
  }
}

// Fix Bootstrap .dropdown-menu
body .nav .dropdown-menu .dropdown-toggle {
  &, &:active {
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media (max-width: 979px) {
  .nav-collapse .nav .dropdown-menu .dropdown-toggle {
    &, &:active {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}

// Fix Route66
#route66-index, .books {
  .table {
    background-color: $white;
  }
}

// Bootstrap extensions ////

// Icon buttons, must be used with .btn, see comments for options.
// See http://gonzalo-bulnes.github.com/bootstrap-extensions
.btn.custom-btn-icon {
  // should be used with .btn.btn-link for icon-olny buttons
  color: $btnBackground;
  font-size: 24px;
  padding-bottom: 2px;
  padding-top: 2px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);

  &.custom-btn-icon-mini {
    font-size: 16px;
    padding-bottom: 6px;
    padding-top: 6px;
  }

  &.custom-btn-icon-small {
    font-size: 20px;
    padding-bottom: 4px;
    padding-top: 4px;
  }

  &.custom-btn-icon-large {
    font-size: 32px;
    padding-bottom: 0;
    padding-top: 0;
  }

  &:focus, &:hover {
    color: $btnBackgroundHighlight;
    text-decoration: none;
  }

  &.custom-btn-icon-link {
    color: $btnPrimaryBackground;
    &:focus, &:hover {
      color: $btnPrimaryBackgroundHighlight;
    }
  }

  &.custom-btn-icon-info {
    color: $btnInfoBackground;
    &:focus, &:hover {
      color: $btnInfoBackgroundHighlight;
    }
  }

  &.custom-btn-icon-success {
    color: $btnSuccessBackground;
    &:focus, &:hover {
      color: $btnSuccessBackgroundHighlight;
    }
  }

  &.custom-btn-icon-warning {
    color: $btnWarningBackground;
    &:focus, &:hover {
      color: $btnWarningBackgroundHighlight;
    }
  }

  &.custom-btn-icon-danger {
    color: $btnDangerBackground;
    &:focus, &:hover {
      color: $btnDangerBackgroundHighlight;
    }
  }

  &.custom-btn-icon-inverse {
    color: $btnInverseBackground;
    &:focus, &:hover {
      color: $btnInverseBackgroundHighlight;
    }
  }
}

// Desktop-row by Jasny
// Copyright 2012 Jasny BV, Netherlands.
// http://jasny.github.com/bootstrap/scaffolding.html#row-desktop
//
// Rows that become blocks on tablet-sized displays
@media (min-width: 768px) and (max-width: 979px) {
  .row-desktop.row-fluid {
    width: 100%;
  }
  .row-desktop.row {
    margin-left: 0;
  }
  .row-desktop > [class*="span"],
  .row-desktop > [class*="span"] {
    float: none;
    display: block;
    width: auto;
    margin: 0;
  }
}

// Styles ////

body {
  // required by .navbar.navbar-fixed-top
  padding-top: 40px;
}

@media (max-width: 979px) {
  body {
    // reset by .navbar.navbar-fixed-top fix when being responsive
    padding-top: 0;
  }
}

html, body {
  min-height: 100%;
  position: relative;
}

body {
  @include retina-wood;
  padding-bottom: 40px;
}

// Navigation
.navbar .nav {
  float: right;
}

@media (max-width: 979px) {
  .navbar .nav {
    // reset float right when being responsive
    float: left;
  }
}

.nav .gravatar .dropdown-toggle {
  padding-bottom: 4px;
  padding-top: 4px;
  img {
    border-radius: 4px;
    margin-right: 4px;
  }
}

// Footer
#footer {
  bottom: 10px;
  right: 15px;
  position: fixed;
  width: auto;

  a {
    color: $textColor;
    opacity: 0.3;

    &:hover {
      opacity: 1.0;
    }
  }
}

// Forms
.custom-form {
  background-color: $white;
  border-radius: 4px;
  padding-bottom: 10px;
  padding-top: 10px;

  .form-notifications, .form-inputs {
    margin: 10px 20px;
  }

  .form-actions {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: -10px;
  }
}

// Home page
body#pages-home {

  // Hero-unit with background-image
  .hero-unit.custom-hero-unit {
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    color: $white;

    .custom-hero-unit-inner {
      border-top: 1px solid transparent; // force margin-top of first-child to be applied
      min-height: 349px; // background-height;
      position: relative;

      &:after {
        @include ex-libris-background;
        -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
        content: "";
        height: 349px; // background-height;
        left: -389px;
        position: absolute;
        top: 0;
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
        width: 248px;
      }
      h1 {
        font-size: 96px;
        padding-bottom: 30px;
        padding-top: 40px;
      }
    }
  }
}

// Pictures Gallery
body#pages-home, body#records-index, body#records-show {

  .thumbnails {
    margin-left: 0; // .thumbnail have no .spanX
    margin-top: 40px;

    .thumbnail {
      background-color: $white;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-width: 0;
      box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
      float: left;
      margin-bottom: 20px;
      margin-left: 20px;
      padding: 8px 0 0;

      &:focus, &:hover {
        text-decoration: none;
      }

      .caption {
        padding-left: 8px;
        padding-right: 8px;
        p {
          margin-bottom: 0;
          strong {
            font-size: 16px;
            padding-left: 2px;
            i {
              color: $successText;
            }
          }
        }
      }
    }
  }
}

// Books list
body#books-index {
  .books {
    margin-top: 40px;
  }
}

@media (min-width: 979px) {

  // Books inventory
  body#records-show {
    .record {
      position: fixed;
    }
  }
}

// Records and books
.record, .book {
  background-color: $white;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 0;
  padding-top: 10px;

  h1, h2 {
    margin: 10px 20px;
  }
  .record-actions, .book-actions {
    padding: 0 10px;
    .action, .info {
      color: $grayLight;
      display: inline-block;
      margin: 10px;
    }
    .action {
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
}

// Placeholder for blank state
.placeholder {
  color: rgba(0, 0, 0, 0.2);
  padding-top: 60px;
  text-align: center;

  & a {
    color: rgba(0, 85, 128, 0.4);
    &:hover, &:focus {
      color: rgba(0, 136, 205, 0.4);
    }
  }

  i {
    font-size: 280px;
  }

  h1 {
    font-size: 2em;
    font-weight: normal;
    margin: 0;
  }
  p {
    font-size: 1.5em;
  }
}

// The end! ////
