/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";
 @import "bootstrap-responsive";
 @import "font-awesome";

// Mixins ////

@mixin ex-libris-background {
  // image size: 248x349
  background-image: image-url("ex-libris.png");
  background-position: top left;
  background-repeat: no-repeat;
}

@mixin retina-wood {
  background-image: image-url("retina_wood/retina_wood.png");
  background-position: bottom left;
  background-repeat: repeat;
  background-color: inherit;
}

// Styles ////

body {
  // required by .navbar.navbar-fixed-top
  padding-top: 40px;
}

@media (max-width: 979px) {
  body {
    // reset by .navbar.navbar-fixed-top fix when being responsive
    padding-top: 0;
  }
}

html, body {
  min-height: 100%;
}

// Fix Bootstrap .btn anchor color
a.btn {
  &:visited {
    color: $grayDark;
  }
}

// Specific styles for the home page

body#pages-home {
  @include retina-wood;
}

#pages-home {

  #footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    a {
      color: $textColor;
    }
  }

  // Hero-unit with background-image
  .hero-unit.custom-hero-unit {
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: $white;
    border-radius: 0;
    .custom-hero-unit-inner {
      border-top: 1px solid transparent; // force margin-top of fisrt-child to be applied
      position: relative;
      min-height: 349px; // background-height;
      &:after {
        @include ex-libris-background;
        content: "";
        position: absolute;
        left: -389px;
        top: 0;
        height: 349px; // background-height;
        width: 248px;

        -webkit-transform: rotate(-5deg);
           -moz-transform: rotate(-5deg);
            -ms-transform: rotate(-5deg);
             -o-transform: rotate(-5deg);
                transform: rotate(-5deg);

        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
      }
      h1 {
        font-size: 96px;
        padding-top: 40px;
        padding-bottom: 30px;
      }
    }
  }
}

// Navigation
.navbar .nav {
  float: right;
}

@media (max-width: 979px) {
  .navbar .nav {
    // reset float right when being responsive
    float: left;
  }
}

.nav .gravatar .dropdown-toggle {
  padding-bottom: 4px;
  padding-top: 4px;
  img {
    border-radius: 4px;
    margin-right: 4px;
  }
}

// Fix Bootstrap .dropdown-menu
.nav .dropdown-menu .dropdown-toggle {
  &, &:active {
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media (max-width: 979px) {
  .nav-collapse .nav .dropdown-menu .dropdown-toggle {
    &, &:active {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}

// Pictures Gallery
#pages-home {
  .thumbnails {
    margin-top: 40px;
    margin-left: 0; // .thumbnail have no .spanX
    .thumbnail {
      background-color: $white;
      float: left;
      margin-bottom: 20px;
      margin-left: 20px;
      &:hover, &:focus {
        transform: rotate(-2deg);
      }
      .caption {
        padding-left: 4px;
        padding-right: 4px;
        p {
          margin-bottom: 0;
          strong {
            font-size: 22px;
            padding-left: 2px;
            i {
              color: $successText;
            }
          }
        }
      }
    }
    .placeholder {
      color: rgba(0, 0, 0, 0.2);
      padding-top: 60px;
      text-align: center;
      transform: rotate(-2deg);
      & a {
        color: rgba(0, 85, 128, 0.4);
        &:hover, &:focus {
          color: rgba(0, 136, 205, 0.4);
        }
      }
      i {
        font-size: 280px;
      }
      p {
        font-size: 2em;
      }
    }
  }
}
